@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-ch: #2D9596;
    --color-let: #607d8b;
}

p {
    margin: 0;
}

form {
    font-family: 'Cairo';
    width: fit-content;
    margin: auto;
    text-align: center;
}

form>div {
    margin-bottom: 10px;
}

form>h2 {
    text-align: inherit;
}

/*input style*/
div>input {
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: solid #eee;
    transition-duration: 1s;
    transition-delay: 0.5;
    width: 250px
}

span {
    margin: 0 10px;
    transition-duration: 0.5;
    transition-delay: 0.3;
    color: var(--color-let);
}

span>input {
    cursor: pointer;
}

p>a:hover,
span:hover {
    color: var(--color-ch);
    font-weight: bold;
}

#submit {
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    font-weight: 600;
    color: white;
    background-color: var(--color-ch);
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5;
    transition-delay: 0.3;
}

input:hover {
    border-color: var(--color-ch);
}

#submit:hover {
    box-shadow: 0px 0px 5px 1px #888888 ;
}

p {
    color: var(--color-let);
    font-size: 12px;
    margin-top: 10px;
}

p>a {
    text-decoration: none;
    transition-duration: 0.5;
    transition-delay: 0.3;
}

/*horizontal line for 'or'*/
#or {
    position: relative;
    margin: 10px 0 10px 0;
    height: 10px;
}

#or::after,
#or::before {
    position: absolute;
    content: '';
    bottom: -2.5px;
    width: 90px;
    height: 1px;
    background-color: var(--color-let);
}

#or::after {
    right: 32px
}

#or::before {
    left: 32px;
}