@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Cairo';
    box-sizing: border-box;
}

:root {
    --color-shadow: #607d8b;
    --color-button: #2D9596;
    --backgroundcolor-product: #F9F9F9;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

div {
    display: inline-block;
}

header,
nav {
    background-color: white;
}

/* header Style */
header {
    position: fixed;
    z-index: 99999;
    height: 75px;
    width: 100%;
    border-bottom:solid 1px #eee ;
}

header h2 {
    position: absolute;
    display: inline-block;
    left: 5%;
    text-transform: capitalize;
    letter-spacing: 2.3px;
}


header>div {
    position: absolute;
    right: 3%;
    margin: 25px 0;
}

header a {
    margin-right: 20px;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
}

header>div>a>i {
    font-size: 25px;
}

a:hover {
    text-shadow: 0 0 6px var(--color-shadow);
}

/*nav bar*/
nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin: 0;
    top: 75px;
    border-bottom: #eee solid 1px;
}
ul{
    display: flex;
    margin: 0;
}
ul li {
    white-space: nowrap;
    margin: 0 auto;
    padding: 5px 25px;
}

li:hover {
    text-shadow: 0 0 5px var(--color-shadow);
}

nav ul {
    margin: 5px;
    list-style: none;
    align-items: center;
}


/*main page */

main {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url(../Images/inage2.png);
    background-size: auto;
    text-align: center;
}

main>div {
    margin: 70px;
    height: 100vh;
}

main h1 {
    display: inline-block;
    margin-bottom: 5px;
}
#wr {
    color: #2D9596;
}
main input {
    outline: none;
    padding: 10px 10px;
    width: 400px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 1px #888888 ;
}

/*---------- Brief ------------*/
.Brief {
    display: flex;
    margin-top: 100px;
    width: 100%;
    align-items: center;
}

.Brief>p {
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1.6;
    margin: 80px 140px;
    width: 400px;
}

.Brief>video {
    width: 400px;
    margin: 100px 150px;
    border: none;
    border-radius: 50% 70%;
}

/* Sections */

/* ------Drugs------*/

div>h2 {
    text-align: center;
}

.Drugs {
    padding: 0;
}

div>div {
    display: flex;
    padding: 5px 58px;
}


div>figure {
    height: 450px;
    width: 310px;
    background-color: var(--backgroundcolor-product);
    margin: 10px 48px;
    border: none;
    border-radius: 30px;
    position: relative;
}

figure>img {
    object-fit: contain;
    width: 280px;
    height: 230px;
    margin: 15px;
}

figure>div {
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

button {
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 10px 0;
    margin: 0 30px;
    background-color: var(--color-button);
    border: none;
    border-radius: 25px;
    transition-duration: 0.5;
    transition-delay: 0.4;
}

button:hover {
    /* background-color: #2D9596; */
    box-shadow: 0px 0px 5px 1px #888888 ;
}

/* ------- Footer ------- */

footer {
    margin-top: 40px;
    width: 100%;
    padding: 25px;
    background-color: #E7E8ED;
}

.quick {
    margin: 0 43% 0 50px;
}


footer>div>a {
    font-weight: 500;
    margin: 15px;
}

footer div i {
    font-size: 25px;
    margin: 5px;
}

div>i {
    size: 40px;
}